/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

/* Login Form Container */
.login-form {
  width: 278%;
  /* max-width: 400px; */
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: -237px;
  top: 35px;
  height: 435px;
}

.login-form h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

.login-form form {
  width: 100%;
}

.login-form div {
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.login-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
}

.login-form input:focus {
  border-color: #007bff;
  outline: none;
}

.login-form button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #0056b3;
}

.login-form .error-message {
  color: red;
  margin-bottom: 20px;
  text-align: center;
}

.login-form .register-link {
  margin-top: 20px;
  text-align: center;
}

.login-form .register-link button {
  background-color: transparent;
  color: #007bff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.login-form .register-link button:hover {
  color: #0056b3;
}
